@font-face {
  font-family: "Bebas Neue";
  src: local("BebasRegular"), local("BebasRegular"),
    url("../fonts/BebasRegular.woff2") format("woff2"),
    url("../fonts/BebasRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box; /*Высота и ширина будет складываться, а не прибавляться */
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #635854;
  padding: 12px 0;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  max-width: 1280px; /*Максимальная ширина навигационного меню */
  margin: auto; /*Отключаем внешние отступы */
  display: flex; /*Расположение элементов в строку*/
  justify-content: space-between; /*Расставили элементы по краям*/
  align-items: center; /*Выравнивание по вертикали по центру */
}
.navbar-items {
  display: flex;
  margin: 0; /*Отключаем внешние отступы */
  padding: 0; /*Отключаем внутренние отступы */
  list-style: none; /*Убираем черточки у перечисления*/
  text-align: center; /*Выравнивание текста по центру*/
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  text-decoration: none;
  color: #fff;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 19px;
}
.navbar-phone {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}
.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}
.main-floor {
  flex-grow: 1; /* Контейнер будет занимать все свободное пространство */
  text-align: center; /* Выравнивание текста по центу */
  display: flex; /* Флекс контейнера */
  flex-direction: column; /* Все элменты в колонку*/
  align-items: center; /* Выравнивание по центру*/
  justify-content: space-between; /* В данном случае выравнивание по вертикали. так как сверху выставлено в колонку*/
}
.home-image path {
  opacity: 0; /* Видимость = 0 */
  cursor: pointer; /* При наведении появляется палец */
}
.home-image path:hover {
  opacity: 1; /* Видимость = 1 при наведении мыши*/
}
.counter-group {
  display: flex; /* Флекс контейнера */
  flex-direction: column; /* Все элменты в колонку*/
  align-items: center; /* Выравнивание по центру*/
}
path.current-floor {
  opacity: 1;
}
.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.main-title {
  font-family: "BebasRegular", sans-serif;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}
.counter {
  font-family: "BebasRegular", sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 10px;
}
.button {
  background-color: #3596f5;
  color: #fff;
  border-radius: 6px;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
